{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>"
    </head>
    <body>

    <ul class="list-group list-group-flush" id="graph">
      {% for graph in user.graph %}
      <li class="list-group-item">
        {{ graph.data }}
        <button type="button" class="close" onClick="deleteGraph({{ graph.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    
    <!-- 
    <form method="POST">
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Graph</button>
      </div>
    </form> -->
  
    <h4>Measurement device: {{measurement_device}}</h4> 
    <h4>Measurement date: {{measure_day}}</h4><br />
    <h5>Lowest heart rate value: {{min_hr}}  (bpm)</h5>
    <h5>Highest heart rate value: {{max_hr}}  (bpm)</h5>
    <h5>Average heart rate: {{mean}}  (bpm)</h5>
    <br />

 <!-- 
    <meta http-equiv="refresh" content="1">
    </form> -->

    <canvas id="lineChart" width="900" height="400"></canvas>
    <script >
     var ctx = document.getElementById("lineChart").getContext("2d");
     var lineChart = new Chart(ctx, {
         type: "line",
         data: {
             labels: {{labels | safe}},
             datasets: [
                 {
                     label: "Heart rate value measurement",
                     data: {{values | safe}},
                     fill: false,
                     borderColor: "rgb(75, 192, 192)",
                     lineTension: 0.1  
                 }
             ]
         }, 
         options: {
             responsive: false
         }   
     });
    </script>
    </body>
    {% endblock %}