{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
  <!--   <h1>Measurement</h1>   -->
     <h1>Aplikacja webowa do wizualizacji i analizy danych pomiarowych uzyskanych z czujników monitorujących dobrostan osób starszych w domu  </h1>   
     <br />
     <br />
     <h2>Po przejściu do zakładki 'Graph' wyświetlą się pomiary tętna na wykresie. </h2>
     <br />
     <br />
    
     <!-- Ten tekst
zostanie zignorowany
przez przeglądarkę
     <ul class="list-group list-group-flush" id="measurement">
      {% for measurement in user.measurements %}
      <li class="list-group-item">
        {{ measurement.data }}
        <button type="button" class="close" onClick="deleteMeasurement({{ measurement.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}

    </ul>

    <form method="POST" enctype="multipart/form-data">
      <br />
      <input type="file" id="file" name="file"><br />
      <div align="center">
      <button type="submit" class="btn btn-primary">Add Measurement</button>
      </div>
    </form>

  
    <h3>measurement ID number: </h3> 

    <h3>Plot</h3>
     
    <ul class="list-group list-group-flush" id="plots">
    </ul>
    <form method="POST">
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Plot</button>
      </div>
    </form> -->
    

    <h3>Notes</h3>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    {% endblock %}